{% extends "admin/BaseAdmin.html" %}
{% block title %}Cập nhật học sinh vi phạm{% endblock %}
{% block content %}
<body>
  <div id="wrapper">
    <script type="text/javascript">
      $('.2').attr('class', 'active');
    </script>
    <div id="page-wrapper">

      <div class="container-fluid">

        <!-- Page Heading -->


        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              <i class="fa fa-edit"></i> Cập nhật học sinh vi phạm
              <small></small>
            </h1>
            <ol class="breadcrumb">
              <div class="row">
                <div class="col-lg-12">
                  <div class="col-lg-4">
                    <div class="form-group">

                      <select class="form-control" name="se_class" id="se_class">
                        <option value="" disabled selected>Chọn lớp</option>
                        {% for class in manage_classes %}
                        <option value="{{class.id}}">
                          {{class.name}}
                        </option>                        
                          {% endfor %}
                      </select>

                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group input-group">
                      <input type="text" class="form-control" placeholder="Tìm nhanh học sinh" name="inp_search_student"
                        id="inp_search" maxlength="100">
                      <span class="input-group-btn">
                        <button class="btn btn-default" id="addon-inp-search" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <p class="pull-right text-muted p-search-result" style="display: none">Tìm thấy: <strong
                      class="text-danger strong-search-result">0</strong> kết quả!</p>
                </div>
              </div>

            </ol>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped" id="table-students">

                <thead>

                  <tr>

                    <th>Mã học sinh</th>
                    <th>Họ và tên</th>
                    <th>Lớp</th>
                    <th>Giới tính</th>
                    <th style="text-align: center">Cập nhật nhanh</th>
                  </tr>

                </thead>
                <tbody class="result-table table-students-content">
                  <tr style="display: none" class="tr-status">
                    <td colspan="6" style="text-align: center;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

    <!-- Modal -->
    <div id="modalcapnhat" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-spinner fa-pulse fa-fw"></i>Đang tải...</h4>
          </div>
          <div class="modal-body">
            <p><i class="fa fa-spinner fa-pulse fa-fw"></i>Đang tải...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-close">Đóng</button>
          </div>
        </div>

      </div>
      <div id="snackbar" style="background-color: green;"><i class="fa fa-check"></i> Cập nhật thành công !</div>
    </div>
  </div>
{%endblock%}
{% block script %}
  <script type="text/javascript">
    
    $("#se_class").change(function () {
      $('.tr-status').show();
      var tenlop = $("#se_class").val();

      $.ajax({
        url: "/api/v1/admin/students/" + tenlop,
        type: "get",
        dataType: "json",
        data:{},
        beforeSend: function() {
            $('#btn-search-class').html('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
        },
        success: function(data){
            if (data.success) {
              $('.tr-status').hide();
              const students = data.payload
              $('.table-students-content').html(`
              <tr style="display: none" class="tr-status">
                <td colspan="6" style="text-align: center;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></td>
              </tr>
              `);
              if (students.length === 0) {
                $('.table-students-content').html(`<tr><td colspan="7" style="text-align: center">No students found</td></tr>`)
              }
              students.forEach((student) => {
                $('.table-students-content').append(`
                  <tr>
                    <td>${student.id}</td>
                    <td>${student.name}</td>
                    <td>${student.class}</td>
                    <td>${student.gender ? 'Nam' : 'Nu'}</td>
                    <td style="text-align: center">
                        <button class="btn btn-primary btn-capnhat" style="border-radius: 0px;" name="btncapnhat" data-toggle="modal" data-target="#modalcapnhat" value="${student.id}">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                  </tr>
                `);
                $
              })
            }
        },
        complete: function(){
          $('#btn-search-class').html('<i class="fa fa-search"></i>');
          $(".btn-capnhat").click(function () {
            var studentName = $(this).parent().siblings()[1].innerHTML;
            var studentId = $(this).parent().siblings()[0].innerHTML
              $('.modal-title').html(`
                <i class="glyphicon glyphicon-user" data-id = "${studentId}" id = "student-info"></i>
                ${studentName}
              `)
          });
        }
      })
    })
    $.ajax({
        url: "/api/v1/rules",
        type: "get",
        dataType: "json",
        data:{
          ruleType: 1
        },
        beforeSend: function() {
            
        },
        success: function(data){
          $('.modal-body').html(`
          <div class="form-group">
            <label id="lb-capnhat">Cập nhật:</label>
            <select class="form-control" id="modal-se-loai">
              <option value="1">Vi phạm</option>
              <option value="0">Thành tích</option>
            </select>
            <label id="lb-chonmuc">Chọn mục:</label>
            <select class="form-control" id="modal-se-viphamthanhtich">
            </select>
          </div>
          `)
          if (data.success) {
            var rules = data.payload;
            var html = rules.map(rule => {
              return `<option value="${rule.id}">${rule.name}</option>`
            })
            $('#modal-se-viphamthanhtich').html(html);
          }
        },
        complete: function(){
            $('.modal-footer').html(`
              <button type="button" class="btn btn-primary" id="modal_capnhat"><i class="fa fa-edit"></i> Cập nhật</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-close">Đóng</button>
            `)
            $('#modal_capnhat').click(function() {
              var studentId = $('#student-info').attr('data-id');
              var ruleId = $('#modal-se-viphamthanhtich').val();
              $.ajax({
                  url: "{{routes.apiAddStudentToRule}}",
                  type: "post",
                  dataType: "json",
                  data:{
                    studentId,
                    ruleId
                  },
                  beforeSend: function() {
                      
                  },
                  success: function(data){
                    if (data.success) {
                      $.snackbar({content: '<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Đã thêm !'})
                    }
                    else {
                      $.snackbar({content: '<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-times fa-stack-1x text-danger"></i></span> Đã xảy ra lỗi !'})
                    }
                    $("#btn-close").trigger("click");
                  },
                  complete: function(){
                    $('#lb-chonmuc').html('Chọn mục: ')
                  }
              })
            })
            $('#modal-se-loai').change(function(){
              var se_loai = $(this).val();
              $('#lb-chonmuc').html('Chọn mục: <i class="fa fa-spinner fa-pulse fa-fw"></i>')
              $.ajax({
                  url: "/api/v1/rules",
                  type: "get",
                  dataType: "json",
                  data:{
                    ruleType: se_loai
                  },
                  beforeSend: function() {
                      
                  },
                  success: function(data){
                    if (data.success) {
                      var rules = data.payload
                      var html = rules.map(rule => {
                        return `<option value="${rule.id}">${rule.name}</option>`
                      })
                      $('#modal-se-viphamthanhtich').html(html);
                    }
                  },
                  complete: function(){
                    $('#lb-chonmuc').html('Chọn mục: ')
                  }
              })
            })
        }
    })
    $("#addon-inp-search").click(function () {
      $(this).html('<i class="fa fa-spinner fa-pulse fa-fw"></i>')
      var tenhocsinh = $("#inp_search").val();
      $.post("tbl_searchclassmember.php", { tenhocsinh: tenhocsinh }, function (tblsearchclassmember) {
        $('.tr-status').hide();
        $(".result-table").html(tblsearchclassmember).hide().fadeIn();
        $('#addon-inp-search').html('<i class="fa fa-search"></i>');
        var dem = 0;
        $('.result-table tr button').each(function () {
          dem++;
        });
        $('.strong-search-result').html(dem);
        $('.p-search-result').show();
      })
    })
    $('#inp_search').keydown(function (e) {
      var kepressed = e.which;
      if (kepressed === 13) {
        $('#addon-inp-search').click();
      }
    })
  </script>
{% endblock %}