{% extends "admin/BaseAdmin.html" %}
{% block title %}Danh sách học sinh{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/admin/showStudentByClass.css">
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <i class="fa fa-group"></i> Danh sách học sinh
                </h1>

            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <div class="row">
                        <div class="col-xs-4" id="div_choose_class">
                            <div class="form-group input-group">
                                <select class="form-control" name="se_class" id="se_class">
                                    {% for class in manage_classes %}
                                        <option
                                            value="{{ class.id }}"
                                            {{ class.id is same as (selectedClass) ? 'selected' : '' }}>{{ class.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btn-search-class">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-primary btn-download" data-toggle="tooltip" title="">
                                <i class="fa fa-download"></i> Tải về
                            </button>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered result-table" id="table">
                        <thead>
                            <tr id="tr-header">
                                <th>STT</th>
                                <th>Mahs</th>
                                <th>Họ tên</th>
                                <th>Lớp</th>
                                <th>Gioi tinh</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-students">
                        {% for student in students %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ student.id }}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.class }}</td>
                                <td>{{ student.gender ? 'Nam' : 'Nu' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('.3').attr('class', 'active');
</script>
<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/jquery.canvasjs.min.js"></script>
<script src="/js/jquery.table2excel.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootbox.min.js"></script>
<script>
    $(document).on('ready', function () {
        $('#btn-search-class').click(function(){
            var classId = $('#se_class').val();
            if(!classId === undefined) {
                $.snackbar({content: '<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x text-success"></i></span> Bạn chưa chọn lớp!'});
            } else {
                $.ajax({
                    url: "/api/v1/admin/students/" + classId,
                    type: "get",
                    dataType: "json",
                    data:{},
                    beforeSend: function() {
                        $('#btn-search-class').html('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
                    },
                    success: function(data){
                        if (!data.success) {
                            $.snackbar({
                                content: '<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x text-success"></i></span> ' + data.message
                            });
                        } else {
                            var students = data.payload;
                            var html;
                            if (students.length === 0) {
                                html = `
                                    <tr><td colspan="5" style="text-align: center">No students found</td></tr>
                                `
                            } else {
                                html = students.map((student, index) => {
                                    return `
                                        <tr>
                                            <td>${++index}</td>
                                            <td>${student.id}</td>
                                            <td>${student.name}</td>
                                            <td>${student.class}</td>
                                            <td>${student.gender ? 'Nam' : 'Nu'}</td>
                                        </tr>
                                    `;
                                });
                            }
                            $('#tbody-students').html(html).hide().fadeIn();
                            $("#table").trigger("update");
                        }
                    },
                    complete: function(){
                        $('#btn-search-class').html('<i class="fa fa-search"></i>');
                    }
                })
            }
        })
    });
</script>

{% endblock %}
