{% extends "admin/BaseAdmin.html" %}
{% block title %}Danh sách học sinh{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/admin/showStudentByClass.css">
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <i class="fa fa-group"></i> Danh sách học sinh
                </h1>

            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <div class="row">
                        <div class="col-xs-4" id="div_choose_class">
                            <div class="form-group input-group">
                                <select class="form-control" name="se_class" id="se_class">
                                    {% for class in manage_classes %}
                                        <option
                                            value="{{ class.id }}"
                                            {{ class.id is same as (selectedClass) ? 'selected' : '' }}>{{ class.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btn-search-class">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-primary btn-download" data-toggle="tooltip" title="">
                                <i class="fa fa-download"></i> Tải về
                            </button>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered result-table" id="table">
                        <thead>
                            <tr id="tr-header">
                                <th>STT</th>
                                <th>Mahs</th>
                                <th>Họ va ten lot</th>
                                <th>Ten</th>
                                <th>Lớp</th>
                                <th>Gioi tinh</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-students">
                        {% for student in students %}
                            <tr class="row-student" id="row-student-{{ loop.index }}">
                                <td>{{ loop.index }}</td>
                                <td class="cell-student-id">{{ student.id }}</td>
                                <td class="cell-student-firstName">{{ student.firstName }}</td>
                                <td class="cell-student-lastName">{{ student.lastName }}</td>
                                <td class="cell-student-class">{{ student.class }}</td>
                                <td class="cell-student-gender">{{ student.gender ? 'Nam' : 'Nu' }}</td>
                                <td>
                                    <button
                                        class="btn btn-danger btn-delete-student"
                                        data-studentId="{{ student.id }}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button
                                        class="btn btn-info btn-update-student"
                                        data-studentId="{{ student.id }}"
                                        data-studentFirstName="{{ student.firstName }}"
                                        data-studentLastName="{{ student.lastName }}"
                                        data-studentClassId="{{ student.class }}"
                                        data-studentPhone="{{ student.phone }}"
                                        data-studentGender="{{ student.gender }}"
                                        data-rowId="row-student-{{ loop.index }}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-update-student" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cap nhat thong tin hoc sinh</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label>Ho va ten dem</label>
                                <input type="text" class="form-control" id="input-modal-firstName" placeholder="Dien ho va ten dem hoc sinh">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label>Ten</label>
                                <input type="text" class="form-control" id="input-modal-lastName" placeholder="Dien ten hoc sinh">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label>So dien thoai</label>
                                <input type="text" class="form-control" id="input-modal-phone" placeholder="Nhap so dien thoai">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label>Lop</label>
                                <select class="form-control" id="se-modal-class">
                                    {% for class in manage_classes %}
                                    <option value="{{ class.id }}"> {{ class.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label>Gioi tinh</label>
                                <select class="form-control" id="se-modal-gender">
                                    <option value="1">Nam</option>
                                    <option value="0">Nu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="btn-modal-update-student"><i class="fa fa-save"></i> Cap nhat</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('.3').attr('class', 'active');
</script>
<script>
    $(document).on('ready', function () {
        $(document).on('click', '.btn-delete-student', function (e) {
            var button = $(this);
            var studentId = button.attr('data-studentId');
            bootbox.confirm({
                title: "Xoa hoc sinh",
                message: "Ban co chac muon xoa hoc sinh nay khong",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: `/api/v1/admin/students/${studentId}`,
                            method: 'delete',
                            dataType: 'json',
                            beforeSend () {
                                button.html('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
                                button.prop('disabled', true);
                            },
                            success ({ success, payload, message }) {
                                if (success) {
                                    $.snackbar({content: '<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Xoa thanh cong'});
                                    button.closest('tr').hide();
                                } else {
                                    $.snackbar({content: `<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-times fa-stack-1x text-success"></i></span> ${message}` });
                                }
                            },

                            complete () {
                                button.html('<i class="fa fa-trash"></i>');
                                button.prop('disabled', false);
                            }
                        })
                    }
                }
            });
        });
        $(document).on('click', '.btn-update-student', function (e) {
            var button = $(this);
            var studentId = button.attr('data-studentId');

            $('#input-modal-firstName').val(button.attr('data-studentFirstName'));
            $('#input-modal-lastName').val(button.attr('data-studentLastName'))
            $('#input-modal-phone').val(button.attr('data-studentPhone'));
            $('#se-modal-class option[value='+ button.attr('data-studentClassId') +']').attr('selected','selected');
            $('#se-modal-gender option[value='+ button.attr('data-studentGender') +']').attr('selected','selected');
            $('#btn-modal-update-student').attr('data-studentId', button.attr('data-studentId'));
            $('#modal-update-student').modal();
        });

        $('#btn-modal-update-student').click(function () {
            var button = $(this);
            var studentId = button.attr('data-studentId');
            var firstName = $('#input-modal-firstName').val();
            var lastName = $('#input-modal-lastName').val();
            var phone = $('#input-modal-phone').val();
            var classId = $('#se-modal-class').val();
            var gender = $('#se-modal-gender').val();

            if (_.isEmpty(firstName) ||
                _.isEmpty(lastName) ||
                _.isEmpty(phone) ||
                _.isEmpty(classId) ||
                _.isEmpty(gender)
            ) {
                $.snackbar({content: '<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x text-success"></i></span> Vui lòng điền đầy đủ thông tin!'});
            } else {
                $.ajax({
                    url: `/api/v1/admin/students/${studentId}`,
                    type: "POST",
                    dataType: "json",
                    data: { firstName, lastName, phone, classId, gender },
                    beforeSend: function(){
                        button.html('<i class="fa fa-spinner fa-pulse fa-fw"></i> Cap nhat');
                        button.prop('disabled', true);
                    },
                    success: function({ success, payload, message }){
                        if (success) {
                            var rowId = button.attr('data-rowId');
                            $(`#${rowId} .cell-student-firstName`).textContent = payload.firstName;
                            $(`#${rowId} .cell-student-lastName`).textContent = payload.lastName;
                            $(`#${rowId} .cell-student-gender`).textContent = payload.gender;
                            $(`#${rowId} .cell-student-class`).textContent = payload.class;

                            button.attr('data-studentFirstName', payload.firstName);
                            button.attr('data-studentLastName', payload.lastName);
                            button.attr('data-studentPhone', payload.firstName);
                            button.attr('data-studentClassId', payload.classId);
                            button.attr('data-studentGender', payload.gender);

                            $.snackbar({content: '<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Cap nhat thanh cong'});
                            $('#modal-update-student').modal('hide');
                        } else {
                            $.snackbar({content: `<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x text-success"></i></span> ${message}`});
                        }

                    },
                    complete: function(){
                        button.html('<i class="fa fa-save"></i> Cap nhat');
                        button.prop('disabled', false);
                    }
                });
            }
        });

        $('#btn-search-class').click(function(){
            var classId = $('#se_class').val();
            if(!classId === undefined) {
                $.snackbar({content: '<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x text-success"></i></span> Bạn chưa chọn lớp!'});
            } else {
                $.ajax({
                    url: "/api/v1/admin/students/" + classId,
                    type: "get",
                    dataType: "json",
                    data:{},
                    beforeSend: function() {
                        $('#btn-search-class').html('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
                    },
                    success: function(data){
                        if (!data.success) {
                            $.snackbar({
                                content: '<span class="fa-stack fa-sm"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x text-success"></i></span> ' + data.message
                            });
                        } else {
                            var students = data.payload;
                            var html;
                            if (students.length === 0) {
                                html = `
                                    <tr><td colspan="7" style="text-align: center">No students found</td></tr>
                                `
                            } else {
                                html = students.map((student, index) => {
                                    return `
                                        <tr class="row-student" id="row-student-{{ loop.index }}">
                                            <td>${++index}</td>
                                            <td class="cell-student-id">${student.id}</td>
                                            <td class="cell-student-firstName">${student.firstName}</td>
                                            <td class="cell-student-lastName">${student.lastName}</td>
                                            <td class="cell-student-class">${student.class}</td>
                                            <td class="cell-student-gender">${student.gender ? 'Nam' : 'Nu'}</td>
                                            <td>
                                                <button
                                                    class="btn btn-danger btn-delete-student"
                                                    data-studentId="${student.id}">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                                <button
                                                    class="btn btn-info btn-update-student"
                                                    data-studentId=${student.id}
                                                    data-studentFirstName=${student.firstName}
                                                    data-studentLastName=${student.lastName}
                                                    data-studentClassId=${student.class}
                                                    data-studentPhone=${student.phone}
                                                    data-studentGender=${student.gender}
                                                    data-rowId="row-student-${index}">>
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    `;
                                });
                            }
                            $('#tbody-students').html(html).hide().fadeIn();
                            $("#table").trigger("update");
                        }
                    },
                    complete: function(){
                        $('#btn-search-class').html('<i class="fa fa-search"></i>');
                    }
                })
            }
        })
    });
</script>

{% endblock %}
